.title {
    color: rgb(238, 78, 78);
    grid-row-start: 1;
    grid-column-start: 2;
    font-family: "Fjalla One", sans-serif;
    text-align: center;
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

.bg {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; /* Adjust row heights as needed */
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh; /* Fill the viewport height */
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
img {
    width: 400px;  /* or any value */
    height: 600px; /* or any value */
    object-fit: cover;
}

.image {
    grid-row-start: 2;
    grid-column: 1; /* Updated to place it in the same column as the title */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Optional: Add padding to the image section */
    margin: 0;
}

#wanted-photo {
    border: solid rgb(238, 78, 78) 5px;
    margin: 0;
    padding: 0;
}

.name {
    grid-column-start: 3; /* Position it in column 3 */
    grid-row-start: 2;
    font-size: 4rem;
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.name > h2
{
    font-size: 3rem;
    margin:0px;
    padding:0px;
    font-family: "Share Tech Mono", monospace;
}
li
{
    color:white;
    font-size: 30px;
    font-family: "Share Tech Mono", monospace;
}
body {
    padding: 50px;
}
.typewriter > li {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }